<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= resource_class.human_attribute_name(:authentication_token) %></h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <%= text_field resource_class.model_name.singular, :authentication_token, readonly: true, class: "form-control" %>
    </div>

    <%= link_to t("helpers.links.create"),
                authentication_token_path,
                method: :put, remote: true, id: 'generate_auth_token', class: 'btn btn-success'  %>
    <%= link_to t("helpers.links.destroy"),
                authentication_token_path,
                method: :delete, remote: true, id: 'delete_auth_token', class: 'btn btn-danger' %>
  </div>
</div>