<% if success %>
  <div class="alert alert-success" role="alert"><strong>OK</strong></div>
  <ul>
  <% (success[:recentItems] || []).each do |item| %>
    <li><%= item %></li>
  <% end %>
  </ul>
<% end %>

<% if error %>
  <div class="alert alert-danger" role="alert">
    <strong>エラー</strong>
    <p>
      サーバへの呼び出し結果は次のとおりです。 responseText: <%= error[:responseText] %>, statusText: <%= error[:statusText] %><br />
      ブラウザのコンソールも確認してください。
    </p>
  </div>
<% end %>